HOST=deliveroojs.azurewebsites.net

BDI_TOKEN=standard_agent_deliveroo_token
BDI_AGENT_NAME=StandardBDIAgent

LLM_TOKEN=coordination_agent_deliveroo_token
LLM_AGENT_NAME=CoordinationBDIAgent

AGENT_ROLE=bdi
LOG_LEVEL=info
ACTION_DELAY_MS=0

TEAM_HEARTBEAT_TICKS=5
TEAM_HEARTBEAT_TTL_TICKS=15

LITELLM_API_KEY=
LITELLM_BASE_URL=https://llm.bears.disi.unitn.it/v1
LOCAL_MODEL=llama-3.3-70b-lmstudio
